<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Get Post Delete | <%= title %></title>
	<link rel='stylesheet' href='/styles.css'>
	<!-- stylesheet can't be accessed because Express protects files from being accessed -->
	<!-- Express middleware needs to set up public folder for static files -->
</head>