<nav>
	<div class="site-title">
		<p><%= // name // use %= to output single value %></p>
		<a href="/"><h1>EJS</h1></a>
		<p>Learning to work with Embedded JavaScript Templates</p>
	</div>
	<ul>
		<li><a href="/">Blogs</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/blogs/create">New Blog</a></li>
	</ul>
</nav>