<html>
<%- include('./partials/head') %><!-- pass in title -->


<body>

	<%- include('./partials/nav') // needs relative path; uses minus %>

	<div class="not-found content">
		<p>Oops, page not found</p>
	</div>

		<%- include('./partials/footer') %>
</body>
</html>