<html>
<%- include('./partials/head') %><!-- pass in title -->


<body>

	<%- include('./partials/nav') // needs relative path; uses minus %>

	<div class="about content">
		<h2>About Us</h2>
		<p>This is an about page.</p>
		<p>Did you expect something else?</p>
		<p>Lorem ipsum and whatnotsum.</p>
	</div>

		<%- include('./partials/footer') %>
</body>
</html>